<h1>Delete $client.getFirstName() $client.getLastName()</h1>
<h3>
  Are you sure you want to delete $client.getFirstName()?
</h3>
<a href="/" type="button" class="btn btn-success">Go Back</a>
<hr>
<a href="/delete/client/$client.getId()" type="button" class="btn btn-danger">Delete $client.getFirstName()</a>
