<h1>Delete $stylist.getFirstName() $stylist.getLastName()</h1>
<h3>Are you sure you want to delete $stylist.getFirstName()?</h3>
<a href="/" type="button" class="btn btn-success">Go Back</a>
<hr>
<a href="/delete/stylist/$stylist.getId()" type="button" class="btn btn-danger">Delete $stylist.getFirstName()</a>
