<div class="row">
  <div class="col-sm-6">
    <h1>Stylists:</h1>
    #if($allStylists.size() > 0)
      <ul>
        #foreach ($stylist in $allStylists)
          <h4><li><a href="/stylist/$stylist.getId()">$stylist.getFirstName() $stylist.getLastName()</a></li></h4>
        #end
      </ul>
    #end
  </div>
</div>
