<!DOCTYPE html>
<html>
  <head>
    <title>Daren's Hair Salon</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>
      <div class="jumbotron">
        <h1>Daren's Hair Salon</h1>
        <a href="/new-stylist" type="button" class="btn btn-primary btn-lg">Add New Stylist</a>
        <a href="/new-client" type="button" class="btn btn-primary btn-lg">Add New Client</a>

      </div>

      #parse( $template )

    </div>
  </body>
</html>
